{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <div class="card-header my-4 text-center">
        <h1>Logs {{ ServerName }}</h1>
      </div>
      <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-primary mx-auto" type="button">Service 1</button>
          <button class="btn btn-outline-primary mx-auto" type="button">Service 2n</button>
          <button class="btn btn-outline-primary mx-auto" type="button">Service 3</button>
          <button class="btn btn-outline-success mx-auto" type="button">Update</button>
        </form>
      </nav>
    <div class="col-md-12 mx-auto p-4 my-4 card border border-black">
        <div class="card-header">
            <h3>Logs for  </h3>
        </div>
        {% for result in Results %}
        <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody>
                {% for lines in result %}
                <tr>
                    
                        <td>{{ lines }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% endfor %}
    </div>
</div>
{% endblock %}